<article class="h-entry">
    <a class="u-url" href="{{.Permalink}}">
        {{ if .Title }}<h2 class="p-name">{{ .Title }}</h2>
        {{ else }}
        <h2 class="p-name">{{ .Date.Format "2006-01-02" }}</h2>
        {{ end }}
    </a>
    <div class="e-content">
        {{ .Content }}
    </div>
    <div class="entry-meta">
        <span>
            posted&nbsp;<time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format "Jan 02, 2006 15:04" }}</time>
            {{ if .Site.Params.IndieWeb.Hcard.Photo }}
            {{ $img := resources.Get .Site.Params.IndieWeb.Hcard.Photo }}
            {{ $img := $img.Resize "25x" }}
            &nbsp;by&nbsp;<img class="u-photo" src="{{ $img.Permalink }}" alt="Sona Portrait"/>
            {{ end }}
             <a rel="author" class="p-author h-card" href="https://vali.link">Vali</a>
        </span>
        <ul class="syndication-links">
            {{ range .Params.Syndication }}
                <li {{ if .hidden }} style="display: none;" {{ end }}><a href="{{ .url }}"
                        class="u-syndication">view on {{ .platform }}</a></li>
                
            {{ end }}
        </ul>
    </div>
    <div id="webmentions"></div>
</article>