<article class="h-entry">
    <div class="header" style="width: inherit;">
        {{ if ne "" .Content }}
        <a class="u-url" href="{{.Permalink}}">
            {{ if .Title }}<h2 class="p-name">{{ .Title }}</h2>
            {{ else }}
            <h2>{{ .Date.Format "2006-01-02" }}</h2>
            {{ end }}
        </a>
        {{ end }}
        {{ if in (slice "reply" "repost" "like") .Params.PostTypes }}
        <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;display: inline-block;width: inherit;">
            {{ partial "icon.html" (dict "name" .Params.PostTypes "width" "24" "height" "24") }}
            
            {{ $class := "" }}
    
            {{ if eq .Params.PostTypes "reply" }}
                {{ $class := "u-in-reply-to" }}
            {{ else if eq .Params.PostTypes "like" }}
                {{ $class := "u-like-of" }}
            {{ else if eq .Params.PostTypes "repost" }}
                {{ $class := "u-repost-of" }}
            {{ end }}
    
            {{ with .Params.Origin.Url }}
                <a class="{{ $class }}" href="{{ . }}">{{ . }}</a>
            {{ end }}
        </span>
        {{ end }}
    </div>
    <div class="e-content">
        {{ .Content }}
        {{ range $i, $v := .Page.Resources.ByType "image" }}
            {{ $class := "u-photo" }}
            {{ $img  := $v.Resize "400x" }}
            {{ if eq $i 0 }}
                {{ $class = "u-featured" }}
            {{ end }}
            <a href="{{ $v.RelPermalink }}">
                <img class="{{ $class }}" src="{{ $img.RelPermalink }}" alt="{{ $v.Params.alt }}" >
            </a>
        {{ end }}
    </div>
    <div class="entry-meta">
        <span class="{{.Params.PostTypes}}">
            {{ if eq .Params.PostTypes "reply" }}
                replied
            {{ else if eq .Params.PostTypes "like" }}
                liked
            {{ else if eq .Params.PostTypes "repost" }}
                reposted
            {{ else }}
                posted
            {{ end }}
            &nbsp;<time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format "Jan 02, 2006 15:04" }}</time>
            
            {{ with .Params.Author }}
            — original post by&nbsp;<a rel="author" class="p-author h-card" href="{{ .Url }}">{{ .Name }}</a>
            {{ else }}
                {{ with .Site.Params.IndieWeb.Hcard.Photo }}
                    {{ $img := resources.Get . }}
                    {{ $img := $img.Resize "25x" }}
                    &nbsp;by&nbsp;<img src="{{ $img.Permalink }}" alt="Sona Portrait" />&nbsp;
                {{ end }}
                <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}">{{ .Site.Params.IndieWeb.Hcard.Name }}</a>
            {{ end }}
        </span>
        {{ with .Params.Syndication }}
        <ul class="syndication-links horizontal-list">
            {{ range . }}
            <li {{ if .hidden }} style="display: none;" {{ end }}>
                <a href="{{ .url }}" class="u-syndication">{{ partial "icon.html" (dict "name" .platform "width" "12pt" "height" "12pt") }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        {{ range .Params.Publish }}
        <a href="https://brid.gy/publish/{{ . }}" style="display: none;"></a>
        {{ end }}
    </div>
    {{ if .Site.Params.IndieWeb.Webmentions.url }}
    <div id="webmentions"></div>
    {{ end }}
</article>