$bg: #000;
$color: #c9c9c9;

body {
    background-color: $bg;
    background-image: url("/res/wolf.bmp");
    background-repeat: repeat;
    cursor: url("/res/icons/cursor-32.png"), auto;
    margin: 0%;
    color: $color;
    font-family: 'Comic Sans MS';
    
    a:visited {
        color: #8e3bbe;
    }

    .main, header {
        border: white ridge 10px;
    }

    .main {
        max-height: 80%;
        border-top: none !important;
        background-color: $bg;
    }

    header {
        border-bottom: none !important;
        background-color: $bg;
    }

    .title {
        display: flex;
        justify-content: center;
    }
    
    h1 {
        font-size: xxx-large;
    }

    .col-left > .card, .badges {
        border: red dashed 1px;
        margin-bottom: 40px;
    }
}