.wordart {
    /* transform: scaleY(1.5) skewY(-8deg) rotateZ(-3deg) translateZ(0); */
    
    .preview {
        font-family: Impact, sans-serif;
        color: transparent;
        background: linear-gradient(to bottom left, #fee601, #fee601 15%, #fe4201);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .preview::before {
        position: absolute;
        content: attr(data-content);
        z-index: -1;
        text-shadow: 1px 0 0 #813300, 0 1px 0 #c14d00, 2px 1px 0.35px #813300, 1px 2px 0.35px #c14d00, 3px 2px 0.35px #813300, 2px 3px 0.35px #c14d00, 4px 3px 0.35px #813300, 3px 4px 0.35px #c14d00, 5px 4px 0.35px #813300, 4px 5px 0.35px #c14d00, 6px 5px 0.35px #813300, 5px 6px 0.35px #c14d00, 7px 6px 0.35px #813300, 6px 7px 0.35px #c14d00;
    }
}
