{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/styles/lightbox.css">
<link rel="stylesheet" href="/styles/iframemanager.css">
{{ end }}

{{ define "main" }}
{{ partial "breadcrumb.html" . }}
<h2>{{.Title}}</h2>
{{ partial "posttypemenu.html" . }}

{{.Content}}

<div class="h-feed">
  {{ range .Paginator.Pages }}
    {{ partial "article.html" . }}
    <hr>
  {{ end }}
  
  {{ partial "pagination.html" . }}
</div>
{{ end }}

{{ define "js" }}
<script type="text/javascript" src="/js/lightbox.js"></script>
<script type="text/javascript" src="/js/iframemanager.js"></script>

<script>
  (function () {

    const im = iframemanager();

    // Example with youtube embed
    im.run({
      currLang: 'en',
      services: {
        youtube: {
          embedUrl: 'https://www.youtube-nocookie.com/embed/{data-id}',
          thumbnailUrl: 'https://i3.ytimg.com/vi/{data-id}/hqdefault.jpg',
          iframe: {
            allow: 'accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen;'
          },
          languages: {
            en: {
              notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer noopener" href="https://www.youtube.com/t/terms" target="_blank">terms and conditions</a> of youtube.com.',
              loadBtn: 'Load video',
              loadAllBtn: "Don't ask again"
            }
          }
        },
        bluesky: {
          onAccept: async (div, setIFrame) => {
            await loadScript('https://embed.bsky.app/static/embed.js').then(
              function(value) {
                if (value)
                {
                  div.innerHTML = '';
                  scan(div);
                  console.log(div);
                }
              },
              function(error) { console.error(`cannot load script ${src}`) }
            );
            
          },
          languages: {
            en: {
              notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer noopener" href="https://bsky.social/about/support/tos" target="_blank">terms and conditions</a> of bsky.social.',
              loadBtn: 'Load once',
              loadAllBtn: "Always load"
            }
          }
        }
      }
    });
  })();


  /**
   * Dynamically load script (append to head)
   * @param {string} src
   * @returns {Promise<boolean>} promise
   */
  function loadScript(src) {

    /**
     * @type {HTMLScriptElement}
     */
    let script = document.querySelector('script[src="' + src + '"]');

    return new Promise((resolve) => {

      if (script)
        return resolve(true);

      script = document.createElement('script');

      script.onload = () => resolve(true);
      script.onerror = () => {
        /**
         * Remove script from dom if error is thrown
         */
        script.remove();
        resolve(false);
      };

      script.src = src;

      document.head.appendChild(script);
    });
  };
</script>
{{ end }}