<div class="card badges">
    <h6>Cool Sites</h6>
    <a target="_blank" href="https://sixey.es/"><img src="/res/8831/sixeyes-8831-ridge.gif" alt="sixeyes badge"></a>
    <a target="_blank" href="https://sixey.es/8831/"><img src="/res/8831/sixeyes-yeah.png" alt="yea badge"></a>
    <a target="_blank" href="https://melonking.net"><img alt="Visit Melonking.Net!"
                    src="https://melonking.net/images/badges/MELON-BADGE-2.GIF"></a>
    <a target="_blank" href="https://loafsona.neocities.org/"><img
                    alt="pixelated drawing of a foggy & rocky seashore with text 'loafsona'"
                    src="/res/8831/loafsona.bmp"></a>
    <a target="_blank" href="https://tuskito.neocities.org/"><img
                    alt="8833 of tuskito"
                    src="/res/8831/tuskito.bmp"></a>
    <a target="_blank" href="https://status.cafe"><img src="https://status.cafe/assets/button.png"
                    alt="Status Cafe" /></a>
    <h6>Stuff</h6>
    <img src="/res/8831/NoFuckingThanks.gif" alt="anti-nft badge">
    <img src="/res/8831/dontfeedtheai.gif" alt="anti-ai badge">
    <img src="/res/8831/pawmade.gif" alt="made with my own two paws badge">
    <img src="/res/8831/gay.bmp" alt="gay">
    <img src="/res/8831/visualstudio.gif" alt="Visual Studio">
</div>