@import url('/styles/common.css');

#wrapper {
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    width: 100vw;
    padding-bottom: 60px;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--bg-content);
    /* position: sticky;
    top: 0px;
    z-index: 100; */
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--bg-content);
}

main {
    margin: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* height: 100%; */
}

.card {
    background-color: var(--bg-content);
    padding: 20px;
    /* padding-left: 20px; */
    margin: 2px;
    /* flex-direction: row; */
}

.col-left {
    position: sticky;
    max-width: 20px;
    /* top: 20px; */
}

.col-left,
.col-right {
    max-width: 200px;
}

.col-center {
    max-width: 500px;
    /* width: 50% */
}

#wrapper>footer {
    color: white;
    background-color: var(--bg);
    width: 100%;
    /* height: 9vh; */
    /* z-index: 10; */
    /* border: 1px solid black; */
    bottom: 0;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row {
    /* flex-direction: row;
    width: 100%; */
    display: flex;
    flex-flow: row nowrap;
}

.center {
    margin: 0 auto;
}

#copyright {
    font-size: x-small;
}

#construction {
    color: red;
    font-size: x-large;
}

nav>ul {
    list-style-image: url('/res/icons/folder-closed-16.png');
}

nav>ul>li#active {
    list-style-image: url('/res/icons/folder-open-16.png');
}

nav>ul>li>ul>li {
    list-style-image: none;
    list-style-type: '├─';
    padding-left: 5px;
}

ul>li.done,
ul>li>.done {
    text-decoration: line-through;
}

.flip-vert {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Fun stuff */

#gremlin {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    position: fixed;
}

#valiPls {
    position: absolute;
    bottom: 20px;
    right: 100px;
}

#walkingdog {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

/* Fun stuff end */

#changelog {
    overflow: scroll;
    height: 250px;
}

#furryring {
    min-width: inherit;
    margin: 2px !important;
}

/* Breadcrumb */

.breadcrumb li {
    display: inline;
    list-style: none;
}

.breadcrumb li a {
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

/* Microblog */

.dt-published {
    font-style: italic;
}

.entry-meta span {
    display: flex;
    align-items: center;
}

.entry-meta .u-photo {
    margin-right: 4px;
    border-radius: 4px;
}

.h-card .u-photo {
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}

.u-featured {
    margin-top:20px
}