{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{ .Site.Title }}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "head" }}
<script src="/js/webmention.js" data-max-webmentions="{{ .Site.Params.IndieWeb.Webmentions.MaxWebmentions }}" async></script>
<link rel="stylesheet" href="/styles/webmention.css">
{{ end }}

{{ define "main" }}
{{ partial "breadcrumb.html" . }}
{{ partial "article.html" . }}
  {{/*  {{ .Content }}  */}}
{{ end }}